.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 60px;
}
.header span {
	display: block;
}
.form-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}
.form {
	border: 5px solid #2727d9;
	padding: 30px 25px;
}
.form-btn {
	margin-bottom: 100px auto; 
 background-color: #2727d9;	
}
.form input {
	margin-bottom: 12px;
}
.section {
	padding: 30px 0;
}
.feature {
	margin: 60px auto;
}
.feature p {
	margin-top: 20px;
}
.video {
	margin-bottom: 30px;
}
.feature-box {
	height: 160px;
	font-weight: 900;
}
.clients {
	margin-top: 32px;
}
.section-header{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
	padding-top: 100px;
}
