body {
	font-family: 'Open Sans', sans-serif;
}
.contacts {
	margin-top: -490px;
	height: 490px;
	background-color: #c60b0b;
	color: #fff;
	text-align: center;
}
h2 {
	margin-top: 7rem;
	font-size: 3rem;
}
.contact {
	margin-top: 4rem;
}
.basement {
	margin-top: 2rem;
}
img {
	margin-right: 2rem;
}
.icon {
 font-weight: 900;
 font-size: 16px;
}
.sertificat {
	text-align: center;
	margin-top: 1rem;
}
.number {
	font-size: 22px;
}