* {
	box-sizing: border-box;
}

.box {
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #000;
	left: 0;
	top: 0;
}

img {
	height: 70px;
	display: inline-block;
	float: left;
	padding-left: 20px;
	padding-top: 30px;
}

ul {
  margin-top: 25px;
  text-align: right;
}

li {
  display: inline-block;
}

a {
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
}